:root {
  --main-color: rgb(255, 0, 0);
  --secundary-color-1: rgb(0, 0, 255);
  --secundary-color-2: rgb(128, 0, 128);
  --secundary-color-3: rgb(4, 167, 4);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.badge-base {
  width: 81%;
  display: block;
  margin: 0 auto;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--secundary-color-1);
}

/* Estilos de texto */
.title {
  font-family: 'Sansita Swashed', cursive;
  font-size: 35px;
  width: 40%;
  height: auto;
  margin: 25px;
  padding: 15px;
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  box-shadow: -5px -5px var(--secundary-color-1), 5px 5px var(--secundary-color-2);
}

.text {
  text-align: left;
  font-size: 1em;
}

.subtitle {
  font-size: 25px;
  font-family: cursive;
  margin: 0;
  color: var(--secundary-color-2);
}

/* CSS grid */

.grid-container {
  width: 95%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  text-align: center;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header nav nav"
    "main main aside"
    "footer footer footer";
}

.grid-container .header,
.grid-container .navigation,
.grid-container .main,
.grid-container .aside,
.grid-container .footer {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.grid-container .header {
  grid-area: header;
  padding: 0;
  width: 230px;
  justify-self: center;
}

.grid-container .navigation {
  grid-area: nav;
  align-self: center;
}

.grid-container .main {
  grid-area: main;
  background-color: rgb(228, 228, 228);
  box-shadow: 5px 5px 5px black;
}

.grid-container .aside {
  grid-area: aside;
  background-color: rgb(228, 228, 228);
  box-shadow: 5px 5px 5px black;
  text-transform: uppercase;
}

.grid-container .footer {
  grid-area: footer;
  background-color: var(--secundary-color-2);
  color: white;
}

.navigation .services,
.navigation .projects,
.navigation .contact {
  display: inline;
  background-color: #e4e5e7;
  color: var(--secundary-color-3);
  font-size: 31px;
  padding: 10px;
  margin: 25px;
  transition: 0.3s;
  border-radius: 10px;
  font-family: 'Supermercado One', cursive;
  font-weight: bold;
  box-shadow: 0px 5px 10px black;
}

.services:hover {
  box-shadow: 0px 5px 5px var(--main-color);
  color: var(--main-color);
  font-size: 33px;
  cursor: pointer;
}

.projects:hover {
  box-shadow: 0px 5px 5px var(--secundary-color-1);
  color: var(--secundary-color-1);
  font-size: 33px;
  cursor: pointer;
}

.contact:hover {
  box-shadow: 0px 5px 5px var(--secundary-color-2);
  color: var(--secundary-color-2);
  font-size: 33px;
  cursor: pointer;
}

.services:active {
  background-color: var(--main-color);
  color: white;
}

.projects:active {
  background-color: var(--secundary-color-1);
  color: white;
}

.contact:active {
  background-color: var(--secundary-color-3);
  color: white;
}


/* Tarjetas de presentación */

.target-presentation {
  background-color: rgb(206, 205, 205);
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 7px 7px 7px black;
}

.buttom {
  display: block;
  width: 80%;
  border: var(--main-color) 5px groove;
  margin: 10px auto;
  padding: 10px;
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #fff;
  font-weight: bold;
}

/* Tarjetas de servicios */

.box-container {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  width: auto;
  height: 320px;
  overflow: auto;
}

.box-mini-target {
  width: auto;
  height: auto;
  padding: 0;
  margin: 5px;
  display: inline-block;
  position: relative;
  width: 225px;
  height: 285px;
  box-shadow: 0px 5px 5px #000, 0px 5px 10px rgb(192, 192, 192), 0px 5px 15px rgb(192, 192, 192);
  overflow: hidden;
}

.img-target {
  height: 100%;
  margin: 0;
  transition: 0.5s;
}

.title-target {
  font-size: 25px;
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #8fffff 0,
    #7ffffb 16.67%,
    #73f5ec 33.33%,
    #6cd8d8 50%,
    #67bbc1 66.67%,
    #64a3ac 83.33%,
    #618e98 100%
  );
  color: rgb(255, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-top: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 35%;
  text-align: center;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom: 5px solid red;
}

.img-target:hover {
  filter: grayscale(100%);
  transform: scale(1.2);
}

.ej-web:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 990px) {
  .navigation .services,
  .navigation .contact,
  .navigation .projects {
    font-size: 23px;
    padding: 5px;
    margin: 18px;
  }
}