* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

body{
    margin: 0;
    background: #E9ECF4;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

/* CSS grid */

.grid-container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    text-align: center;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "header header header"
    "main main aside"
    "footer footer footer";
}

.grid-container .header,
.grid-container .main,
.grid-container .aside,
.grid-container .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.grid-container .header {
    grid-area: header;
    padding: 0;
    background-color: rgba(245, 141, 148, 0.780);
}

.grid-container .main {
    grid-area: main;
}

.grid-container .aside {
    grid-area: aside;
}

.grid-container .footer {
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-areas: 
        "header header header"
        "navigation navigation navigation"
        "main main main"
        "aside aside aside"
        "footer footer footer";
    }
}

.navigation .services,
.navigation .projects,
.navigation .contact {
    display: inline;
    background-color: #E9ECF4;
    color: green;
    font-size: 30px;
    width: 30px;
    padding: 5px;
    margin: 35px;
    transition: 0.3s;
    border-radius: 10px;
}

.services:hover {
    box-shadow: 0px 5px 5px red;
    color: red;
    font-size: 32px;
    cursor: pointer;
}

.projects:hover {
    box-shadow: 0px 5px 5px blue;
    color: blue;
    font-size: 32px;
    cursor: pointer;
}

.contact:hover {
    box-shadow: 0px 5px 5px purple;
    color: purple;
    font-size: 32px;
    cursor: pointer;
}

.services:active {
    background-color: red;
    color: white;
}

.projects:active {
    background-color: blue;
    color: white;
}

.contact:active {
    background-color: purple;
    color: white;
}

.title {
    width: 30%;
    height: auto;
    margin: 30px;
    padding: 15px;
    background-color: silver;
    color: red;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px red, 10px 10px blue, 15px 15px purple;
}
